*.iml
.gradle
.pro
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle
/.gradle
/.idea
/app/libs
/app/build
/app/src/androidTest
/app/src/debug
/app/src/release
/app/src/test
